/* 本文の設定 */
body{
    background-color: whitesmoke;
}

h1{
    color: white;
    /* background:linear-gradient(-25deg, #fff, navy); */
    background-color:navy;
}

.heading-22 {
    padding: .5em .7em;
    border-left: 3px solid navy;
    background-color: whitesmoke;
    color: black;
}

.h-bLine {
    margin: 10px 0;
    padding: 10px;
    color: black;
    line-height: 18px;
    border-top: 0;
    border-bottom: 1px dotted black;
    border-left: 5px solid navy;
  }
