/* 本文の設定 */
body{
    background-color: white;
}

h1{
    margin: 10px 0;
    padding: 10px;
    color: white;
    /* background:linear-gradient(-25deg, #fff, navy); */
    background-color:navy;
}

.h2-main {
    margin: 10px 0;
    padding: 4px;
    color: black;
    line-height: 20px;
    border-left: 10px solid navy; 
    background-color: whitesmoke;
}

.h-bLine {
    margin: 10px 0;
    padding: 10px;
    color: black;
    line-height: 18px;
    border-top: 0;
    border-bottom: 1px dotted black;
    border-left: 5px solid navy;
  }
