body{
    margin: 0 5px;
    padding: 0;
    background-color: white;
}


/*============headerの設定============*/
header{
    text-align: center;
    background-color: white;
    position: relative;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}

/*============grobal-navigationの設定============*/
/* https://kisopro.net/blog/programming/global-navigation/ */
*{box-sizing: border-box;}

ul.gnav-navi-1{
    background: lightgray;
    padding: 0;
    text-align: center;
}

ul.gnav-navi-1 li{
    display: inline-block;
    padding: 0 3em;
}

ul.gnav-navi-1 li a{
    display: block;
    padding: 0;
    color: black;
    text-decoration: none;
}

ul.gnav-navi-1 li:hover{
    background: whitesmoke;
}

ul.gnav-navi-1 a::first-line{
    font-size: 16px;
    font-weight: bold;
}

.nav{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li{
    display: inline-block;
    margin-right: 1em;
}

/*============footerの設定============*/
footer{
    text-align: center;
    background-color: lightgray;
    position: relative;
    align-items: center;
    margin: 2em 0;
    padding: 1em 0;
    top: 0;
    left: 0;
    right: 0;
}

/* h1 */
h1{
    padding-top: 0.5em;
    text-align: center;
}

h2{
    margin: 0 0.2em;
    padding: 0 0.5em;
    border-bottom: 1px dotted black;
}

h3{
    margin: 1.5em;
    padding: 0;
}

p{
    margin-left: 1.5em;
}

/* 箇条書き */
ul{
    margin-top: 1.5em;
}

ol{
    margin-left: 1.5em;
}

/* details */
details{
    margin-left: 1.5em;
}

/* 囲みの設定 */
/* リンク https://saruwakakun.com/html-css/reference/box */
.box-normal{
    border: solid 1px black;
}

.box-backcolor{
    background-color: whitesmoke;
}

/* a の設定 */
a:link{
    color: blue;
    text-decoration: none;
}
   
a:visited{
    color: blue;
    text-decoration: underline;
}
   
a:hover{
    color: red;
    text-decoration: red;
}
   
a:active {
    color: #FF0000;
    text-decoration: none;
}






/*ーーーーーーーーーーーーーーー【cssの基本的な事柄】ーーーーーーーーーーーーーーーーーーーーーー
太さ:thin, midium, thick 
1本線:solid, 点線:dotted, 波線:dashed, 2本線:double, 立体的に窪んだ線:groove, 立体的に隆起した線:ridge, 内側全体がくぼんだ線:inset, 内側全体が隆起した線:outset 


ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/