html {
    font-family: "Noto Sans JP", sans-serif;
    font-family: "Google Sans", sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
    /* max-width: 1120px; */
    /* position: relative; */
}
  
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* header */
header {
    padding: 40px 0 20px 0;
}
header h1 {
    padding: 20px 10px;
    font-size: 32px;
    text-align: center;
    /* background-color: cornflowerblue; */
}

ul.header-menu {
    margin: 20px 0;
    padding: 0;
    list-style: none;

    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

/* li を均等割り */
ul.header-menu li {
    flex: 1;                 /* ← 均等幅の核心 */
}

/* a を li 全体に広げる */
ul.header-menu a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 0;
    font-size: 20px;
    text-decoration: none;
    color: inherit;

    transition: background-color 0.3s, color 0.3s;
}

/* li 領域に触れた瞬間に反応 */
ul.header-menu li:hover a {
    background-color: #eaeaea;
    color: red;
}

/* footer */
footer {
    padding: 30px;
    text-align: center;
    background-color: whitesmoke;
}

/* main */
main {
    padding: 20px 0;
}

.index {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    padding: 10px 0;
}

h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

a{
    color: blue;
    text-decoration: none;
} 
a:visited{
    color: blue;
}  
a:hover{
    color: red;
}


/* mainmenu */
.mainmenu {
    width: 70%;
    position: relative;
}
.mainmenu h1 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}
.mainmenu li {
    margin: 0 40px 20px 0;
    list-style-type: square;
}

/* sidemenu */
.sidemenu {
    width: 25%;
    position: relative;
}
.sidemenu p { 
    padding: 5px 15px;
}
.sidemenu li {
    padding: 15px;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    list-style-type: none;
}
.sidemenu details {
    padding: 15px;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    list-style-type: none;
}

.exam-table {
    border-collapse: collapse;
    margin: 0 auto;
}
.exam-table th,
.exam-table td {
    border: 1px solid black;
}

.details-notes{
    margin: 20px 0;
}
.details-notes[open]{
    padding: 10px;
    background-color: aliceblue;
}






/*ーーーーーーーーーーーーーーー【cssの基本的な事柄】ーーーーーーーーーーーーーーーーーーーーーー
太さ:thin, midium, thick 
1本線:solid, 点線:dotted, 波線:dashed, 2本線:double, 立体的に窪んだ線:groove, 立体的に隆起した線:ridge, 内側全体がくぼんだ線:inset, 内側全体が隆起した線:outset 


ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/